:root {
  --blue: #30305a;
  --white: white;
}
.calculator-body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--white);
}

.container {
  width: 335px;
  height: 366px;
  border: 9px solid var(--blue);
  padding: 0 0;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: var(--blue);
}

.calc-input {
  border-bottom: 9px solid var(--blue);
}

input {
  width: 319px;
  height: 45px;
  border: none;
  outline: none;
  padding: 2px 0 0 17px;
  font-size: 28px;
}

.calc-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  background: var(--blue);
}

button {
  width: 105px;
  height: 45px;
  border: none;
  background: var(--white);
  font-size: 19px;
  font-weight: 700;
  color: var(--blue);
  cursor: pointer;
}

button:hover {
  font-size: 28px;
}
